* {
  margin: 0;
  padding: 0;
}
.section{
  font-size: 17px !important;
  font-weight: 600 !important;
}

.Avater{
  border-radius: 5px !important;
  width: 400px !important;
  height: 40% !important;
  margin: 10px;
  display: inline-block;
}
.imgase {
  flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center  !important;
}